<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>회원가입페이지</title>
</head>
<body>

<form action="#" method="post">
  <fieldset>
    <legend>회원가입</legend>
      <p>
        <label for="email">이메일: </label>
        <input id="email" type="email" name="user_email">
      </p>
      <p>
        <label for="password">비밀번호: </label>
        <input id="password" type="password" name="user_password">
      </p>
  </fieldset>

  <p>
    <input type="submit" value="회원가입"/>
  </p>
</form>

</body>
</html>